@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Account" asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    @* <div class="form-group">
    <label asp-for="Role" class="form-label"></label>
    <select asp-for="Role">
        @foreach (var role in roles)
        {
            <option value=""></option>
        }
    </select>
    <span asp-validation-for="Role" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control" asp-items="@(new SelectList(ViewBag.Roles, "Id", "Name"))">
            <option value="">-- Seleziona un ruolo --</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Registrati</button>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
