@{
	ViewData["Title"] = "Prenotazioni";
}

<h1 class="text-center">Prenotazioni</h1>

<div class="container d-flex flex-column align-items-center gap-3 mb-4">
    <a asp-controller="Prenotazioni" asp-action="Clienti" class="btn btn-primary" style="width: fit-content">Gestione clienti</a>
    <a asp-controller="Prenotazioni" asp-action="Camere" class="btn btn-primary" style="width: fit-content">Gestione camere</a>
</div>

<div class="container d-flex justify-content-center mb-4">
    <button class="btn btn-primary btn-sm" style="margin-left: auto; margin: auto" onclick="showAddModal()">Aggiungi prenotazione</button>
</div>

<div id="tableContainer" class="container"></div>

<div id="addModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aggiungi prenotazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="addBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div id="updateModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="updateTitle" class="modal-title">Modifica prenotazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="updateBody" class="modal-body">
                @* <p id="updateBody"></p> *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                @* <button type="button" class="btn btn-primary">Save changes</button> *@
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conferma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vuoi davvero eliminare questa prenotazione?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deletePrenotazioneButton">Elimina</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
           loadList();
        });

        async function loadList() {
            const tableContainer = document.getElementById("tableContainer");
                try {
                    let response = await fetch('/prenotazioni/get-all');
                    if (response.ok) {
                        let data = await response.text();

                tableContainer.innerHTML = data;
                new DataTable('#prenotazioniTable', {ordering: true, columnDefs: [{orderable: true}]});
                    } else {
                        throw new Error('Errore.');
                    }
                } catch(error) {
                    console.log("Errore: " + error);
               }
        }

        async function showAddModal(){
            const addModal = document.getElementById('addModal');

                const addModalComponent = new bootstrap.Modal(addModal);

                try {
                    let response = await fetch('/prenotazione/add');

                    if (response.ok) {
                        let data = await response.text();
                        const body = document.getElementById('addBody');

                        body.innerHTML = data;

                        addModalComponent.show();
                    } else {
                        throw new Error('Errore.');
                    }
                } catch(error) {
                    console.log("Errore: " + error);
                }
        }

        async function sendAddForm() {
            const addForm = document.getElementById('addForm');
            const formData = new FormData(addForm);

            try {
                let response = await fetch('/prenotazione/add', {method: "POST", body: formData});
                if (response.ok) {
                    let data = await response.json();
                    if (data.success) {
                        const addModal = document.getElementById('addModal');
                        const addModalComponent = bootstrap.Modal.getInstance(addModal);
                        addModalComponent.hide();
                        loadList();
                    } else {
                        throw new Error('Errore.');
                    }
                } else {
                    throw new Error('Errore.');
                }
            } catch(error) {
                console.log("Errore: " + error);
            }
        }

        async function showUpdateModal(id){
            try {
                 let response = await fetch(`/prenotazione/update/${id}`);
                 if (response.ok) {
                    var responseText = await response.text();
                    const updateModalComponent = document.getElementById('updateModal');
                    const updateModal = new bootstrap.Modal(updateModalComponent);
                    const updateBody = document.getElementById('updateBody');
                    updateBody.innerHTML = responseText;
                    updateModal.show();
            } else {
                throw new Error('Errore.');
            }
            } catch(error) {
                console.log("Errore: " + error);
            }
        }

        async function sendUpdateForm(){
            const updateForm = document.getElementById('updateForm');
            const formData = new FormData(updateForm);

            try {
                 let response = await fetch(`/prenotazione/update/save`, {method: "POST", body: formData});
                 if (response.ok) {
                    var data = await response.json();
                    if (data.success){
                    const updateModal = document.getElementById('updateModal');
                    const updateModalInstance = bootstrap.Modal.getInstance(updateModal);
                        updateModalInstance.hide();
                        loadList();

                }else {
                    throw new Error('Errore.');
                }
            } else {
                throw new Error('Errore.');
            }
            } catch(error) {
                console.log("Errore: " + error);
            }
        }

        function showDeleteModal(id){
            const deleteModal = document.getElementById('deleteModal');

            const deleteModalComponent = new bootstrap.Modal(deleteModal);
            deleteModalComponent.show();
            const deleteBtn = document.getElementById('deletePrenotazioneButton');

            deleteBtn.onclick = () => deletePrenotazione(id);
        }

        async function deletePrenotazione(id){
            try {
                let response = await fetch(`/prenotazione/delete/${id}`, {
                method: "POST"
            });
            if (response.ok) {

            let data = await response.json();

            if(data.success){
                const deleteModal = document.getElementById('deleteModal');

                    const deleteModalComponent = bootstrap.Modal.getInstance(deleteModal);
                    deleteModalComponent.hide();
                    loadList();

            } else {
                throw new Error('Errore.');
            }
            } else {
                throw new Error('Errore.');
            }

            } catch(error) {
                console.log("Errore: " + error);
            }

        }
    </script>
}